body {
	color: #303030;
	font-size: 1.1rem;
}

.grid-container {
	max-width: 1100px;
}

p {
	line-height: 1.25;
}

h1 {
	font-size: 2.2rem;
	color: black;
}

h2 {
	font-size: 1.8rem;
	color: black;
	padding-top: 1rem;
}
.cell ul li {
	margin-left: 1rem;
}
h2 span.float-right {
	margin-top: 1rem;
	margin-bottom: 0;
}
h2 a.float-right {
	margin-top: 0;
	margin-bottom: 0;
}

h3 {
	font-size: 1.4rem;
	font-style: italic;
	color: black;
}

h2.papertitle {
	margin-top: -1rem;
	margin-bottom: -0.5rem;
}

pre {
	white-space: pre-wrap;
	font-size: 1rem;
}

.top-bar {
    margin-bottom: 1.2rem;
}
.menu a {
    font-size: 1.2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    margin-left: .6rem;
    margin-right: .6rem;
}

.pubnumber {
	height: 100%;
	width:3.5em;
	text-align: right;
	float:left;
	padding-right: 1em;
	padding-bottom: 2em;
}

.paper-title {
	font-style: italic;
}

.paper-item {
	padding: .3rem 0 1rem 0;
	margin-right: 1rem;
	text-align: justify;
}

.papers {
	font-size: 1.1rem;
	line-height: 1.25;
}

.papers .button-group {
	padding: .4rem 0 0 0;
	margin: 0px;
}
.papers .button-group .button {
	/*font-size: 1rem;*/
	padding: 0 .5rem 0 .5rem;
	vertical-align: middle;
	white-space: nowrap;
}

.button .fi-info,
.button .fi-page-pdf,
.button .fi-web,
.button .fi-arrow-left,
.button .fi-arrow-right,
.button .fi-list-thumbnails,
.button .fi-torsos-all {
	font-size: 1.5rem;
	position: relative;
	bottom: -.35rem;
}

ul.courses li .title {
	margin-right: .55rem;
}
ul.courses li .button {
	position: relative;
	top: -.6rem;
	height: .5rem;
	padding: 0px;
}


.author {
    white-space: nowrap;
    padding-right: 1em;
}

.paper-download-buttons {
    white-space: nowrap;
}

.paper-download-buttons a {
	padding-left: 0;
    padding-right: 0;
}

.paperdetail th {
	text-align: left;
	vertical-align: text-top;
}

.paper-info-icons {
	font-size: 1.4rem;
	padding-left: .2rem;
}
.paper-info-icons .fi-unlock {
	color: green;
}

.paper-info-icons .fi-clock {
	color: gray;
}

.float-left {
	margin: 0 1.5em 1.5em 0;
}
.float-right {
	margin: 0 0 1.5em 1.5em;
}

